################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/tmarkdown/tmarkdown/.vs/tmarkdown/v16/ipch
/tmarkdown/tmarkdown/.vs/tmarkdown/v16
/tmarkdown/tmarkdown/Debug
/tmarkdown/tmarkdown/tmarkdown/Debug
/tmarkdown/tmarkdown/.vs/tmarkdown/v17
